<div class="container information-found">
    <p>{{variables.0}}</p>
    <!--<p>{{results}}</p>-->
    <h3>{{results.name}}</h3>
    <img src="{{logo}}" width="120px">
    <ul>
    {% for topic in topics %}
        <li style="text-align: center"><h4>{{topic}}</h4></li>
    {% endfor %}
    </ul>
    <div class="container-fluid" style="background-color: #dfe4ea; padding-bottom: 30px; border-radius: 5px; text-align: center">
        <h3>Information Found</h3>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Github
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="row" style="background-color: #cfdff5; padding-top: 10px; border-radius: 5px;" >
                            <div class="col">
                                <p>Commits:{{company.websiteData.0.0}}</p>
                            </div>
                            <div class="col">
                                <p>Last Update: {{company.websiteData.0.1}}</p>
                            </div>
                            <div class="col">
                                <p>Branches: {{company.websiteData.0.2}}</p>
                            </div>
                            <div class="col">
                                <p id="alternating">{{company.websiteData.0.5.0}}</p>
                            </div>
                        </div>
                        <canvas id="github-graph" class="twitter-canvas"></canvas>
                        {% autoescape off %}
                        <p style="text-align: center">{{company.websiteData.0.6}}</p>
                        {% endautoescape %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Crunchbase
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <a href="{{company.websiteData.1.1}}">{{company.websiteData.1.0}}</a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        LinkedIn
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {% if company.websiteData.2 == None %}
                        {% else %}
                        {{company.websiteData.2}}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                        Y Combinator
                    </button>
                </h2>
                <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body" style="text-align: left;">
                        {% if company.websiteData.3.1 == None %}
                        {% else %}
                        <p style="text-align: center; background-color: rgb(255, 102, 7); border-radius: 5px; color: white;">{{company.websiteData.3.1}}</p>
                        <!--{{company.websiteData.3}}-->
                        <div style="text-align: center;">
                            <h5>Key People</h5>
                            <hr style="margin: auto;">
                            {% for person in company.websiteData.3.2 %}
                            <p><strong>{{person.1}}</strong>: {{person.0}}</p>
                            {% endfor %}
                            <h5>Key Facts</h5>
                            <hr style="margin: auto;">
                            <p><strong>Founded</strong>:{{company.websiteData.3.4.0}}</p>
                            <p><strong>Employee's</strong>:{{company.websiteData.3.4.1}}</p>
                            <p><strong>Location</strong>:{{company.websiteData.3.4.1}}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        Apollo.io
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><a href="{{ycombinator.1}}">{{ycombinator.0}}</a>
                        <a href="{{company.websiteData.4.1}}">{{company.websiteData.4.0}}</a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
                        SaasHub
                    </button>
                </h2>
                <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <a href="{{company.websiteData.5.1}}">{{company.websiteData.5.0}}</a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading7">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse7">
                        SaasWorthy
                    </button>
                </h2>
                <div id="flush-collapse7" class="accordion-collapse collapse" aria-labelledby="flush-heading7" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body"><a href="{{saasHub.1}}">{{saasHub.0}}</a>
                        {% if company.websiteData.6 == None %}
                        {% else %}
                        <p>Rating: {{ company.websiteData.6.0 }} - {{ company.websiteData.6.1 }}</p>
                        <hr style="margin: auto;">
                        <div class="container-fluid"></div>
                            <div class="row">
                            {% for key, values in company.websiteData.6.2.items %}
                                    <div class="col">
                                        <h3>{{key}}</h3>
                                        <ul>
                                        {% for arr in values %}
                                            {% for value in arr %}
                                                <li><p>{{value}}</p></li>
                                            {% endfor %}   
                                        {% endfor %}                                                 
                                        </ul>
                                    </div>
                            {% endfor %}
                            </div>
                        <hr style="margin: auto;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <i class="fa-brands fa-linkedin"></i><br>{{company.websiteData.6.6.0}}
                                </div>
                                <div class="col">
                                    <i class="fa-brands fa-twitter"></i><br>{{company.websiteData.6.6.1}}
                                </div>
                                <div class="col">
                                    <i class="fa-brands fa-square-facebook"></i><br>{{company.websiteData.6.6.2}}
                                </div>
                                <div class="col">
                                    <i class="fa-brands fa-square-instagram"></i><br>{{company.websiteData.6.6.3}}
                                </div>
                                <div class="col">
                                <i class="fa-brands fa-youtube"></i><br>{{company.websiteData.6.6.4}}
                                </div>
                            </div>
                        </div>
                        <hr style="margin: auto;">
                        <div class="container-fluid">
                            <div class="row">
                                {% for key in company.websiteData.6.3.keys %}
                                <div class="col" style="margin-top: 2%;">
                                    <p style="font-weight: bold;">{{ key }}</p>
                                </div>
                                {% endfor %}
                            </div>
                            <hr style="margin: auto;">
                            <div class="row">
                                {% for key, value in company.websiteData.6.3.items %} 
                                <div class="col">
                                    <ul>
                                        {% for x in value %}
                                        <li>{{x}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>