<div class="container information-found">
    <!--<p>{{results}}</p>-->
    <h3>{{results.name}}</h3>
    <img src="{{logo}}" width="120px">
    <ul>
    {% for topic in topics %}
        <li style="text-align: center"><h4>{{topic}}</h4></li>
    {% endfor %}
    </ul>
    <div class="container-fluid" style="background-color: #dfe4ea; padding-bottom: 300px; border-radius: 5px;">
        <h3>Information Found</h3>
        <a href="{{githubInfo.1}}">{{githubInfo.0}}</a><br>
        <a href="{{crunchBaseInfo.1}}">{{crunchBaseInfo.0}}</a><br>
        <a href="{{saasWorthyInfo.1}}">{{saasWorthyInfo.0}}</a><br>
        <a href="{{linkedInInfo.1}}">{{linkedInInfo.0}}</a><br>
        <a href="{{yCombinatorInfo.1}}">{{yCombinatorInfo.0}}</a><br>
        <a href="{{apolloIOInfo.1}}">{{apolloIOInfo.0}}</a><br>
    </div>
</div>