{% extends "main/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile_style.css' %}">
{% endblock %}
{% block content %}
{% include 'main/navbar.html' %}
<h1>My Favourites</h1>

{% for favourite in favourites %}
<a href="{% url 'productHome' favourite.company.slug %}" class="box-link"><div class="favourite-box">
    <img src="{{favourite.company.api.data.post.thumbnail.url}}" width="64" height="64">
    <h3>{{favourite.company|title}}</h3>
    <p>{{favourite.company.variables.results.tagline}}</p>
</div></a>
{% endfor %}
{% endblock %}