{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account_form_style.css' %}">
{% endblock %}
{% block content %}
{% include 'main/navbar.html' %}
<h1 id="main-heading">Log In</h1>
<div class="container-fluid" id="center">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <small>Your username</small>
            <input type="text" name='username' placeholder="Username">
            <br>
            <small>Your password</small>
            <input type="password" name='password' placeholder="Password">
        </div>
        {% if error != None %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {% endif %}
        <button type="submit" class="btn submit-button">Log In</button>
        <br>
        <p class="text-center" style="margin-bottom: 0 !important;">Need an account? <a href="{% url 'register' %}">Register</a> now.</p>
        <p class="text-center"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>


    </form>
</div>
{% endblock %}
{% block extra_js %}

{% endblock %}