{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account_form_style.css' %}">
{% endblock %}
{% block content %}
{% include 'main/navbar.html' %}
<h1 id="main-heading">Password change successful</h1>
<div class="container-fluid" id="center">
    <p style="text-align: center;">Your password was changed.</p>
    <a href="{% url 'index' %}" class="btn submit-button">Back to homepage</a>
</div>
{% endblock %}
{% block extra_js %}

{% endblock %}