{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account_form_style.css' %}">
{% endblock %}
{% block content %}
{% include 'main/navbar.html' %}
<h1 id="main-heading">Reset Password</h1>
<div class="container-fluid" id="center">
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn submit-button">Reset</button>
    </form>
</div>
{% endblock %}
{% block extra_js %}

{% endblock %}