{% extends 'main/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
{% endblock %}
{% block content %}
    {% include 'main/navbar.html' %}
    <div id="main">
        <h1 style="text-align: center; color: white; padding-top: 50px;">VCCF</h1>
        <h4 style="text-align: center; color: white;">Here is some text describing the company</h4>
        <div class="search-box">
            <form action="product">
                <div class="bar">
                    <input class="searchbar" name="productSearch" type="text" title="Search">
                    <button class="btn" type="submit"><i class="ph"></i></button>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid" style="padding: 30px; color: white; padding-top: 100px;">
        <div class="row" style="text-align: center;">
            <div class="col-md-6">
                <img src="{% static 'images/product-info.png' %}" width="100%" class="landing-image">
            </div>
            <div class="col-md-6">
                <p>Descripion 1</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding: 30px; color: white;">
        <div class="row" style="text-align: center;">
            <div class="col-md-6 order-md-1 order-2">
                <p>Descripion 1</p>
            </div>
            <div class="col-md-6 order-md-2 order-1">
                <img src="{% static 'images/founders.png' %}" width="100%" class="landing-image">
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding: 30px; color: white;">
        <div class="row" style="text-align: center;">
            <div class="col-md-6">
                <img src="{% static 'images/market-data.png' %}" width="100%" class="landing-image">
            </div>
            <div class="col-md-6">
                <p>Descripion 1</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding: 30px; color: white;">
        <div class="row" style="text-align: center;">
            <div class="col-md-6 order-md-1 order-2">
                <p>Descripion 1</p>
            </div>
            <div class="col-md-6 order-md-1 order-1">
                <img src="{% static 'images/favourites.png' %}" width="100%" class="landing-image">
            </div>
        </div>
    </div>

{% endblock %}