{% extends 'main/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_style.css' %}">
{% endblock %}
{% block content %}
{% include 'main/navbar.html' %}
<div id="modal-body">
    <div class="alert alert-primary" id="landscape-alert" role="alert" >
        This page looks better in landscape, please use when viewing graphs
    </div>
    <div class="alert alert-primary" id="fav-alert" role="alert" >
        Please login or sign up to favourite companies
    </div>
        <!-- modal content -->
            <div class="container-fluid" id="outer">
                <div class="row no-gutters">
                    <div class="order-2 col-md-3 order-md-1" id="left-col">
                        <div class="container-fluid p-0" id="left">
                            <img src="{{company.variables.logo}}" class="logo">
                            <div id="news-collum">  
                                <h5>Industry News</h5>
                                <hr style="margin: auto;">
                                <ul>
                                    {% for x in company.newsArticles|slice:"5" %}
                                    <li>
                                        <a href="{{x.url}}" class="news_link"><p style="text-align: center">{{x.title}}</p></a>
                                    </li>
                                    {% empty %}
                                    <li>
                                        <a href="#" class="news_link"><p style="text-align: center">No Articles Found </p></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="order-1 col-md-9 order-md-2">
                        <img src="{{company.variables.logo}}" class="logo-sm">
                        <h1 id="main-heading">{{company.variables.results.name}}</h1>
                        <p id="main-sub-heading">{{company.variables.results.tagline}}</p>
                        {% if user in favouriteList %}
                        <a class="btn btn-danger" id="fav-button" onclick="favourite('{{company.slug}}', 1)" style="width:80%; display: block; margin: auto; margin-bottom: 20px;">Remove</a>
                        <a class="btn btn-warning" id="un-fav-button" onclick="favourite('{{company.slug}}', 0)" style="width:80%; display: block; margin: auto; margin-bottom: 20px; display: none;">Favourite</a>                    
                        {% elif user.is_authenticated %}
                        <a class="btn btn-warning" id="un-fav-button" onclick="favourite('{{company.slug}}', 0)" style="width:80%; display: block; margin: auto; margin-bottom: 20px;">Favourite</a>
                        <a class="btn btn-danger" id="fav-button" onclick="favourite('{{company.slug}}', 1)" style="width:80%; display: block; margin: auto; margin-bottom: 20px; display: none;">Remove</a>                    
                        {% else %}
                        <a class="btn btn-warning" id="un-fav-button" onclick="triggerSubAlert()" style="width:80%; display: block; margin: auto; margin-bottom: 20px;">Favourite</a>                    
                        {% endif %}
                        <div class="container-fluid" id="right">
                            <div class="row no-gutters">
                                <div class="col-lg-4 p-0"><button id="b1">Product Information</button></div>
                                <div class="col-lg-4 p-0"><button id="b2">Founder Information</button></div>
                                <div class="col-lg-4 p-0"><button id="b3">Market Information</button></div>
                            </div>
                            <div class="row-lg no-gutters" style="margin: 10px">
                                <div id="1">
                                    {% include "main/tabs/productTab.html" %}
                                </div>
                                <div id="2" style="display:none;">
                                    {% include "main/tabs/founderTab.html" %}
                                </div>
                                <div id="3" style="display:none;">
                                    {% include "main/tabs/marketTab.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    function favourite(company, isFavourite){
        $.ajax({
            type: "GET",
            url: '/jsonFavourite/',
            data: {
                "company":company,
                "isFavourite":isFavourite,
            },
            dataType: "json",
            success: function (data) {
                if(isFavourite===1){
                    document.getElementById('un-fav-button').style.display = 'block'
                    document.getElementById('fav-button').style.display = 'none'
                }
                else{
                    document.getElementById('fav-button').style.display = 'block'
                    document.getElementById('un-fav-button').style.display = 'none'
                }
            },
            failure: function () {
            }
        });
    }
    function triggerSubAlert(){
        console.log("You're not logged in")
        setTimeout(() => {document.getElementById("fav-alert").classList.remove('generic-alert')}, 5000);
        document.getElementById("fav-alert").classList.add('generic-alert')
    }
</script>
<script>
    var endpoint = '/graphs/'
    let results = []
    $.ajax({
        method: "GET",
        url: endpoint,
        data: {'test':"Test Data"},
        success: function(data) {
            results = [ data.extScore,
                data.neuScore,
                data.agrScore,
                data.conScore,
                data.opnScore
            ]
            allGraphs = data.allGraphs

        },
        error: function(error_data) {
            console.log(error_data);
        }

    })
    function changeGraph(num){
        let isStacked = window['statChart' + num.toString()].config.options.scales.xAxes[0]['stacked'];
        console.log(window['statChart' + num.toString()]);
        window['statChart' + num.toString()].config.options.scales.xAxes[0]['stacked'] = !isStacked;
        window['statChart' + num.toString()].config.options.scales.yAxes[0]['stacked'] = !isStacked;
        window['statChart' + num.toString()].update();
    }
    function testGraph(num) {
        var canvas = document.getElementById("statGraph-"+num)
        var button = document.getElementById("toggleButton-"+num)
        canvas.style.backgroundColor = '#dfe4ea'
        if(canvas.style.display === 'none'){
            canvas.style.display = 'block'
            button.style.display = 'block'
            button.style.marginTop = '10px'
            button.style.marginBottom = '10px'
        } else {
            canvas.style.display = 'none'
            button.style.display = 'none'
            button.style.marginTop = '0px'
            button.style.marginBottom = '0px'

        }
        var graphType = allGraphs[1][num][allGraphs[1][num].length-1]
        var isStacked = true;
        var reverseData;
        var reverseLabels;
        console.log(graphType)
        if(graphType == 'bar'){
            graphType = 'horizontalBar'
        }
        if(graphType == 'column'){
            graphType = 'horizontalBar'
        }
        if(graphType == 'line'){
            isStacked = false
        }
        if(allGraphs[1][num][1].length > 100){
            graphType = 'line'
        }
        var ctx = canvas.getContext('2d');
        window['statChart' + num.toString()] = new Chart(ctx, {
            type: graphType,
            data: {
                labels:allGraphs[1][num][1],
                datasets: [],
            },
            options: {
                maintainAspectRatio:true,
                scales: {
                    xAxes: [{
                        stacked: isStacked, // this should be set to make the bars stacked
                    }],
                    yAxes: [{
                        stacked: isStacked, // this also..
                        ticks: {
                            beginAtZero: true,
                        }
                    }]
                }
            }
        });
        for (let i = 1; i < allGraphs[1][num].length-2; i++) {
            console.log("Updating graph....")
            console.log(allGraphs[1][num][i + 1])
            var randColor = '#'
            randColor += Math.floor(Math.random()*16777215).toString(16);
            //Math.floor(Math.random() * 256) for number between 0 and 255
            randColors = []
            for(let i=0; i<allGraphs[1][0][1].length; i++){
                randColor = '#'
                rgbaColor = 'rgba('
                for(let i=0; i<3; i++) {
                    rgbaColor += Math.floor(Math.random() * 256).toString() + ", "
                }
                rgbaColor += '0.2)'
                randColor += Math.floor(Math.random()*16777215).toString(16);
                randColors.push(rgbaColor)
            }
            if(allGraphs[1][num][0][i] === 'type') {
                console.log("TYPE ERROR")
            } else if(graphType === 'table'){
                console.log("Empty graph --> This is a table")
            } else if(graphType === 'pie') {
                var newDataset = {
                    label: allGraphs[1][num][0][i],
                    data: allGraphs[1][num][i + 1],
                    borderColor: 'rgba(0, 0, 0, 0.5)',
                    backgroundColor: randColors
                }
                window['statChart' + num.toString()].data.datasets.push(newDataset);
                window['statChart' + num.toString()].update();
            } else if (graphType === 'line' && allGraphs[1][num][1].length < 100) {

                var newDataset = {
                    label: allGraphs[1][num][0][i],
                    data: allGraphs[1][num][i + 1],
                    borderColor: randColor,
                    backgroundColor:'rgba(0, 0, 0, 0.0)'
                }
                window['statChart' + num.toString()].data.datasets.push(newDataset);
                window['statChart' + num.toString()].update();
            } else if (graphType === 'line' && allGraphs[1][num][1].length > 100) {
                var newDataset = {
                    label: allGraphs[1][num][0][i],
                    data: allGraphs[1][num][i + 1],
                    borderColor: 'rgba(63, 127, 191, 1.0)',
                    backgroundColor:'rgba(63, 127, 191, 0.2)'
                }
                window['statChart' + num.toString()].data.datasets.push(newDataset);
                window['statChart' + num.toString()].update();
            } else{
                var newDataset = {
                    label: allGraphs[1][num][0][i],
                    data: allGraphs[1][num][i+1],
                    backgroundColor: randColor
                }
                window['statChart' + num.toString()].data.datasets.push(newDataset);
                window['statChart' + num.toString()].update();
            }
        }
    }  
    function drawGraph(handle, pos) {
        var position = pos-1
        const graphArea = document.getElementById('twitter-box-' + handle);
        graphArea.style.backgroundColor = '#dfe4ea';
        console.log(graphArea.style.display)
        if (graphArea.style.display === "none") {
            graphArea.style.display = "block";
        } else{
            graphArea.style.display = "none";
        }
        var ctx = graphArea.getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['extroversion','neuroticism','agreeableness','conscientiousness','openness'],
                datasets: [{
                    label: handle,
                    data: [results[0][position],results[1][position],results[2][position],results[3][position], results[4][position]],
                    backgroundColor: [
                        '#60a0f2',
                        '#85e1ae',
                        '#f1bc5d',
                        '#eb6d7a',
                        '#9486d3',
                    ],
                    borderColor: [
                        '#60a0f2',
                        '#85e1ae',
                        '#f1bc5d',
                        '#eb6d7a',
                        '#9486d3',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }
</script>
<script>

    /*Change tabs*/
    $('#b1').on('click',function(){
        //If 1 is showing, show 2, hide all other divs
        $('#1').show().siblings('div').hide();
        $('#b1').css("background-color", "#becce0")
        $('#b1').css("color", "black")
        $('#b2').css("background-color", "#4f3535")
        $('#b2').css("color", "white")
        $('#b3').css("background-color", "#384f35")
        $('#b3').css("color", "white")
        $('#right').css("background-color", "#becce0")

    });
    $('#b2').on('click',function()  {
        //If 1 is showing, show 2, hide all other divs
        $('#2').show().siblings('div').hide();
        $('#b1').css("background-color", "#42474e")
        $('#b1').css("color", "white")
        $('#b2').css("background-color", "#e0bebe")
        $('#b2').css("color", "black")
        $('#b3').css("background-color", "#384f35")
        $('#b3').css("color", "white")
        $('#right').css("background-color", "#e0bebe")
    });
    $('#b3').on('click',function(){
        //If 1 is showing, show 2, hide all other divs
        $('#3').show().siblings('div').hide();
        $('#b1').css("background-color", "#42474e")
        $('#b1').css("color", "white")
        $('#b2').css("background-color", "#4f3535")
        $('#b2').css("color", "white")
        $('#b3').css("background-color", "#c0dbb9")
        $('#b3').css("color", "black")
        $('#right').css("background-color", "#c0dbb9")

    });




</script>
{% endblock extra_js %}