<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
</head>
<body>
<p>{{product}}</p>
<p>{{topics}}</p>
<ul>
    {% for handle in twitterHandles %}
        <canvas id="twitter-box-{{handle}}" style="display: none;">
            <h1>{{handle}}</h1>
        </canvas>
        <li><button onclick="drawGraph('{{handle}}')">{{handle}}</button></li>
    {% endfor %}
</ul>
<p>{{results}}</p>
</body>
<script>
    var endpoint = '/graphs/'
    let results = []
    $.ajax({
        method: "GET",
        url: endpoint,
        data: {'test':"Test Data"},
        success: function(data) {
            results = [ data.extScore,
                        data.neuScore,
                        data.agrScore,
                        data.conScore,
                        data.opnScore]
        },
        error: function(error_data) {

            console.log(error_data);
        }
    })
    function drawGraph(handle) {
        graphArea = document.getElementById('twitter-box-'+handle)
        graphArea.style.display = 'block';
        var ctx = graphArea.getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['extraversion','neurotocism','agreableness','conscientiousness','openness'],
                datasets: [{
                    label: "Hello",
                    data: results,
                    backgroundColor:'#999999',
                    borderColor:'#555555',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }
</script>
</html>