{% extends 'main/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_style.css' %}">
{% endblock %}
{% block content %}
<div class="modal">
    <!-- modal content -->
    <div class="modal-content">
        <div class="container-fluid" id="outer">
            <div class="row no-gutters">
                <div class="order-2 col-md-3 order-md-1" id="left-col">
                    <div class="container-fluid p-0" id="left">
                        <img src="{{logo}}" class="logo">
                        <div id="news-collum">
                            <h5>Industry News</h5>
                            <hr>
                            <ul>
                                {% for link,article in context.newsZip %}
                                <li>
                                    <a href="{{link}}" class="news_link">{{article}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="order-1 col-md-9 order-md-2">
                    <a href="{% url 'index' %}" style="color: black;"><span class="close">&times;</span></a>
                    <img src="{{logo}}" class="logo-sm">
                    <h1 id="main-heading">{{results.name}}</h1>
                    <p id="main-sub-heading">{{results.tagline}}</p>
                    <div class="container-fluid" id="right">
                        <div class="row no-gutters">
                            <div class="col-lg-4 p-0"><button id="b1">Product Information</button></div>
                            <div class="col-lg-4 p-0"><button id="b2">Founder Information</button></div>
                            <div class="col-lg-4 p-0"><button id="b3">Market Information</button></div>
                        </div>
                        <div class="row-lg no-gutters" style="margin: 10px">
                            <div id="1">
                                <div class="container information-found">
                                    <p>{{results}}</p>
                                </div>
                            </div>
                            <div id="2" style="display:none;">
                                <div class="container information-found">
                                    <h3 class="content-header">Founders</h3>
                                    <ul>
                                    {% for name, handle, ph_url, image in socialMediaZip %}
                                        {% if handle != None %}
                                        <div class="row social-row">
                                            <div class="col" style="display: inline-block">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col p-0">
                                                            <img src="https://cdn.freebiesupply.com/logos/large/2x/product-hunt-logo-png-transparent.png" width="65px" height="65px" class="logo-pp">
                                                        </div>
                                                        <div class="col p-0">
                                                            <img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/twitter_circle-512.png" width="65px" height="65px" class="logo-pp">
                                                        </div>
                                                        <div class="col p-0">
                                                            <img src="https://cdn.icon-icons.com/icons2/2429/PNG/512/linkedin_logo_icon_147268.png" width="65px" height="65px" class="logo-pp">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <img src="{{image}}" width="100px" height="100px" class="twitter-pp">
                                            </div>
                                            <div class="col">
                                                <h3>{{name}}</h3>
                                            </div>
                                        </div>
                                        <canvas id="twitter-box-{{handle}}" style="display: none;">
                                        </canvas>
                                        <li><a class="search-button" onclick="drawGraph('{{handle}}', '{{forloop.counter}}')">{{handle}}</a></li>
                                        {% else %}
                                        <div class="row social-row">
                                            <div class="col" style="display: inline-block">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col p-0">
                                                            <img src="https://cdn.freebiesupply.com/logos/large/2x/product-hunt-logo-png-transparent.png" width="65px" height="65px" class="logo-pp">
                                                        </div>
                                                        <div class="col p-0">
                                                            <img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/twitter_circle-512.png" width="65px" height="65px" class="logo-pp">
                                                        </div>
                                                        <div class="col p-0">
                                                            <img src="https://cdn.icon-icons.com/icons2/2429/PNG/512/linkedin_logo_icon_147268.png" width="65px" height="65px" class="logo-pp">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <img src="{{image}}" width="100px" height="100px" class="twitter-pp">
                                            </div>
                                            <div class="col">
                                                <h3>{{name}}</h3>
                                            </div>
                                        </div>
                                        <br>
                                        <p style="text-align: center">Analysis not available</p>
                                        <br>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div id="3" style="display:none;">
                                <div class="container information-found">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    var endpoint = '/graphs/'
    let results = []
    $.ajax({
        method: "GET",
        url: endpoint,
        data: {'test':"Test Data"},
        success: function(data) {
            results = [ data.extScore,
                data.neuScore,
                data.agrScore,
                data.conScore,
                data.opnScore]
        },
        error: function(error_data) {

            console.log(error_data);
        }
    })
    function drawGraph(handle, pos) {
        var position = pos-1
        graphArea = document.getElementById('twitter-box-'+handle)
        console.log(graphArea.style.display)
        if (graphArea.style.display === "none") {
            graphArea.style.display = "block";
        } else{
            graphArea.style.display = "none";
        }
        var ctx = graphArea.getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['extroversion','neuroticism','agreeableness','conscientiousness','openness'],
                datasets: [{
                    label: handle,
                    data: [results[0][position],results[1][position],results[2][position],results[3][position], results[4][position]],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }
</script>
<script>

    /*Change tabs*/
    $('#b1').on('click',function(){
        //If 1 is showing, show 2, hide all other divs
        $('#1').show().siblings('div').hide();
        $('#b1').css("background-color", "#becce0")
        $('#b1').css("color", "black")
        $('#b2').css("background-color", "#4f3535")
        $('#b2').css("color", "white")
        $('#b3').css("background-color", "#384f35")
        $('#b3').css("color", "white")
        $('#right').css("background-color", "#becce0")

    });
    $('#b2').on('click',function()  {
        //If 1 is showing, show 2, hide all other divs
        $('#2').show().siblings('div').hide();
        $('#b1').css("background-color", "#42474e")
        $('#b1').css("color", "white")
        $('#b2').css("background-color", "#e0bebe")
        $('#b2').css("color", "black")
        $('#b3').css("background-color", "#384f35")
        $('#b3').css("color", "white")
        $('#right').css("background-color", "#e0bebe")
    });
    $('#b3').on('click',function(){
        //If 1 is showing, show 2, hide all other divs
        $('#3').show().siblings('div').hide();
        $('#b1').css("background-color", "#42474e")
        $('#b1').css("color", "white")
        $('#b2').css("background-color", "#4f3535")
        $('#b2').css("color", "white")
        $('#b3').css("background-color", "#c0dbb9")
        $('#b3').css("color", "black")
        $('#right').css("background-color", "#c0dbb9")

    });




</script>
{% endblock extra_js %}